<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0">
  <Header>
    <Title>CommentPartition</Title>
    <Description>
    パーテーション
    </Description>
    <Shortcut>CP</Shortcut>
  </Header>
  <Snippet>
    <Code Language="CPP">
      //-----------------------------------------------------------
//
//-----------------------------------------------------------
    </Code>
  </Snippet>
</CodeSnippet>