<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0">
  <Header>
    <Title>DoxyDef</Title>
    <Description>
      /** @def
      * マクロのコメント
      */
    </Description>
    <Shortcut>DefDoxy</Shortcut>
  </Header>
  <Snippet>
    <Code Language="CPP">
      /** @def
      * 
      */
    </Code>
  </Snippet>
</CodeSnippet>