<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0">
  <Header>
    <Title>DoxyFile</Title>
    <Description >
      ファイルヘッダ用のDoxy
      /**
      * @file ファイル名.h
      * @brief 簡単な説明
      * @author 書いた人
      * @date 日付（開始日？）
      */
    </Description>
    <Shortcut>FileDoxy</Shortcut>
  </Header>
  <Snippet>
    <Code Language="CPP">
      /**
      * @file 
      * @brief 
      * @author 
      * @date 
      */
    </Code>
  </Snippet>
</CodeSnippet>