<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0">
  <Header>
    <Title>DoxyRoughFunc</Title>
    <Description >
      関数用のDoxy
      /**
      * @fn
      * ここに関数の説明を書く
      * @brief 要約説明
      */
    </Description>
    <Shortcut>FuncRoughDoxy</Shortcut>
  </Header>
  <Snippet>
    <Code Language="CPP">
      /**
      * @fn
      *
      * @brief
      */
    </Code>
  </Snippet>
</CodeSnippet>