<?xml version="1.0" encoding="utf-8"?>
<CodeSnippet Format="1.0.0">
  <Header>
    <Title>namespace</Title>
    <Shortcut>ns</Shortcut>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>name</ID>
        <Default></Default>
      </Literal>
    </Declarations>
    <Code Language="CPP">
      namespace $name$ {
      } // namespace $name$

    </Code>
  </Snippet>
</CodeSnippet>